<div class="app_navigation_green_bar"></div> <!-- End of the app_navigation_green_bar -->

<div class="app_navigation_container row fullWidth">

	<div class="large-2 columns left">

		<a href="/"><img class="app_navigation_logo" src="../../../assets/img/logo.png"></a>

	</div> <!-- End of the large-2 -->

	<a href="/"><div class="large-1 columns">

		<h2 class="left app_navigation_create_new_header">Create New</h2>

		<img class="left app_navigation_create_new_plus_icon" src="../../../assets/img/plus_icon.png"></a>

	</div></a> <!-- End of the large-1 -->

	<a href="/" onclick="getAllElementsPosition()"><div class="large-1 columns">

		<h2 class="left app_navigation_create_new_header">Save</h2>

		<img class="left app_navigation_create_new_plus_icon" src="../../../assets/img/save_icon.png"></a>

	</div></a> <!-- End of the large-1 -->

	<div class="large-6 columns"></div> <!-- End of the large-6 -->

	<div class="nav_right_container large-2 columns">

		<a href="/"><h2 class="left app_navigation_last_saved">Last Save: 4:46pm</h2></a>

		<a href="/"><img class="app_navigation_link_icon" src="../../../assets/img/link_icon.png"></a>

		<a href="/"><img class="app_navigation_social_icon" src="../../../assets/img/social_icon.png"></a>

	</div></a> <!-- End of the large-2 -->
	
</div> <!-- End of the row -->

<div class="drawing_board_container row fullWidth">

	<div class="drawing_board_toolbar large-2 columns end">
		
		<img class="drawing_board_toolbar_move_icon" src="../../../assets/img/move_icon.png">

		<img class="drawing_board_toolbar_move_icon" src="../../../assets/img/undo_icon.png">

		<img onclick="createBox()" class="drawing_board_toolbar_move_icon" src="../../../assets/img/box_icon.png">

		<img onclick="createCircle()" class="drawing_board_toolbar_move_icon" src="../../../assets/img/circle_icon.png">

		<img onclick="createText()" class="drawing_board_toolbar_text_icon" src="../../../assets/img/text_icon.png">

		<p class="drawing_board_toolbar_move_width">Width: </p>

		<p class="drawing_board_toolbar_move_height">Height: </p>

		<div class="trash_icon_container text-center">
			
			<img class="drawing_board_toolbar_trash_icon" src="../../../assets/img/trash_can_icon.png">

		</div>

	</div> <!-- End of the drawing_board_container -->


	<div class="drawing_board large-10 columns"></div> <!-- End of the drawing_board -->


</div> <!-- End of the row -->

<script>
  $(document).foundation();

  	var prev;

  	function getAllElementsPosition() {
	    var elementsArr = [];
	    var startTime = Date.now();
	    $('.drawing_board').children().each(function() {
	       elementsArr.push($(this).position());
	    });
	    console.log(elementsArr);
	    var endTime = Date.now();
	    var totalTime = ( endTime - startTime ) / 100;
	  }

  	function createBox() {
  		var el = $('<div class="box"></div>').draggable({
  			start: function(event, ui) {
  				console.log("Position: ");
  				console.log($(this).position());
  				console.log("Width: ");
  				console.log($(this).width().toFixed(0));
  				console.log("Height: ");
  				console.log($(this).height().toFixed(0));
  			},
  			grid: [ 15, 15 ],
  			end: function(event, ui) {
  				console.log("asda");
  			}
  		}).resizable({
  			resize : function(event, ui) {
  				$('.drawing_board_toolbar_move_width').html("Width: " + ui.size.width.toFixed(0));
		        $('.drawing_board_toolbar_move_height').html("Height: " + ui.size.height.toFixed(0));
  			},
  			ghost : true,
  			grid: [ 15, 15 ]
		});
		$(".drawing_board").append(el);
	}

	function createCircle() {

		var el = $('<div class="circle"></div>')
		.draggable({
  			start: function(event, ui) {
  				console.log("Position: ");
  				console.log($(this).position());
  				console.log("Width: ");
  				console.log($(this).width().toFixed(0));
  				console.log("Height: ");
  				console.log($(this).height().toFixed(0));
  			},
  			end: function(event, ui) {
  				console.log("asda");
  			},
  			grid: [ 15, 15 ]
  		})
		.resizable({
  			resize : function(event, ui) {
  				$('.drawing_board_toolbar_move_width').html("Width: " + ui.size.width.toFixed(0));
		        $('.drawing_board_toolbar_move_height').html("Height: " + ui.size.height.toFixed(0));
  			},
  			ghost: true,
  			grid: [ 15, 15 ]
		}).selectable({
			start: function(event, ui) {
				$('.drawing_board_toolbar_move_width').html("Width: " + ui.size.width.toFixed(0));
		        $('.drawing_board_toolbar_move_height').html("Height: " + ui.size.height.toFixed(0));
			}
		});
		$(".drawing_board").append(el);

	}

	function getContentDiagonal() {
	    var contentWidth = $("#content").width();
	    var contentHeight = $("#content").height();
	    return contentWidth * contentWidth + contentHeight * contentHeight;
	}

	function createText() {
  		var el = $('<h2 class="text">Placeholder Text</h2>').draggable({
  			start: function(event, ui) {
  				console.log("Position: ");
  				console.log($(this).position());
  				console.log("Width: ");
  				console.log($(this).width().toFixed(0));
  				console.log("Height: ");
  				console.log($(this).height().toFixed(0));
  			},
  			grid: [ 15, 15 ],
  			end: function(event, ui) {
  				console.log("asda");
  			}
  		}).resizable({
  			resize : function(event, ui) {
  				$('.drawing_board_toolbar_move_width').html("Width: " + ui.size.width.toFixed(0));
		        $('.drawing_board_toolbar_move_height').html("Height: " + ui.size.height.toFixed(0));
  			},
  			ghost : true,
  			grid: [ 15, 15 ]
		});
		$(".drawing_board").append(el);
	}

	$(document).ready( function() {

		$(".drawing_board_toolbar").draggable();

		$(".drawing_board").children().draggable().resizable();

	    $(".trash_icon_container").droppable({
	        over: function(event, ui) {
	        	$(this).addClass("trash_icon_container_hover");
	            ui.draggable.fadeOut( 1000, function() {
				    $(this).remove();
				    $(".trash_icon_container").removeClass("trash_icon_container_hover");
			    });
	        }
	    });

	});
</script>