<div class="app_navigation_green_bar"></div> <!-- End of the app_navigation_green_bar -->

<div class="app_navigation_container row fullWidth">

	<div class="large-2 columns left">

		<a href="/"><img class="app_navigation_logo" src="../../../assets/img/logo.png"></a>

	</div> <!-- End of the large-2 -->

	<a href="/"><div class="large-1 columns">

		<h2 class="left app_navigation_create_new_header">Create New</h2>

		<img class="left app_navigation_create_new_plus_icon" src="../../../assets/img/plus_icon.png"></a>

	</div></a> <!-- End of the large-1 -->

	<a href="/"><div class="large-1 columns">

		<h2 class="left app_navigation_create_new_header">Save</h2>

		<img class="left app_navigation_create_new_plus_icon" src="../../../assets/img/save_icon.png"></a>

	</div></a> <!-- End of the large-1 -->

	<div class="large-6 columns"></div> <!-- End of the large-6 -->

	<div class="nav_right_container large-2 columns">

		<a href="/"><h2 class="left app_navigation_last_saved">Last Save: 4:46pm</h2></a>

		<a href="/"><img class="app_navigation_link_icon" src="../../../assets/img/link_icon.png"></a>

		<a href="/"><img class="app_navigation_social_icon" src="../../../assets/img/social_icon.png"></a>

	</div></a> <!-- End of the large-2 -->
	
</div> <!-- End of the row -->

<div class="drawing_board_container row fullWidth">

	<div class="drawing_board_toolbar"></div> <!-- End of the toolbar -->

</div> <!-- End of the row -->