body {
	background-color: #F0F1F5;
	background-image: url(../img/grid_pattern.png);
  	background-repeat: repeat;
}

.app_navigation_container {
	height: auto;
	background-color: white;
	border-bottom: 2px solid #E9E9E9;
}

.app_navigation_green_bar {
	background-color: #64BD60;
	height: 18px;
}

.app_navigation_logo {
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 35px;
}

.app_navigation_create_new_header {
	margin-top: 50px;
	margin-right: 12px;
	color: #888888;
	font-family: 'Roboto-Light';
	font-size: 19px;
}

.app_navigation_create_new_plus_icon {
	margin-top: 49px;
}

.nav_right_container {
	margin-right: ;
}

.app_navigation_last_saved {
	margin-top: 52px;
	margin-right: 12px;
	color: #AAAAAA;
	font-family: 'Roboto-Light';
	font-size: 18px;
}

.app_navigation_link_icon {
	margin-top: 49px;
	margin-left: 25px;
}

.app_navigation_social_icon {
	margin-top: 49px;
	margin-left: 25px;
}

/* Start Styles for Drawing Board */

.drawing_board_toolbar {
	position: relative;
	width: auto;
	padding: 0;
	height: 700px;
	background-color: white;
	border: 2px solid #DBDBDA;
	margin-left: 70px;
	margin-top: 80px;
	border-radius: 10px;
}

.drawing_board_toolbar_move_icon {
	margin-top: 32px;
	margin-left: 32px;
	margin-right: 28px;
	padding-bottom: 28px;
	border-bottom: 2px solid #E5E5E4;
	display: block;
	cursor: pointer;
}

.drawing_board_toolbar_text_icon {
	margin-top: 32px;
	margin-left: 32px;
	margin-right: 28px;
	padding-bottom: 28px;
	border-bottom: 2px solid #E5E5E4;
	display: block;
	margin-bottom: 50px;
	cursor: pointer;
}

.trash_icon_container {
	position: absolute;
	width: 100%;
	height: auto;
	background-color: #E05E5F;
	bottom: 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.trash_icon_container_hover {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: auto;
	background-color: #E05E5F;
	border: 4px solid #890C13;
	bottom: 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.drawing_board_toolbar_trash_icon {
	margin-top: 28px;
	margin-bottom: 28px;
}

.drawing_board {
	
}

.box {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #D0CED2;
	top: 25px;
}

.text {
	position: absolute;
	width: 300px;
	height: auto;
	color: #7E7D86;
	top: 25px;
	background-color: none;
}

.circle {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #7E7D86;
	

}

.ui-resizable-ghost { border: 1px dotted black; }

.selected {
	border: 5px dotted black;
}